[Unit]
Description=Holly Discord Bot
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker rm -f holly
ExecStart=/usr/bin/docker run --rm --name holly \
  --read-only \
  --security-opt no-new-privileges \
  -v /opt/holly/secrets:/app/secrets \
  holly
ExecStop=/usr/bin/docker stop holly
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
